/*/////// MEDIA ////////*/

img, video, audio, iframe, table, form {
  width: 100%; /* IE */
  max-width: 100%; /* FF, Safari, Chrome */
}

/*/////// Layput styles ////////*/

.row {
  margin-bottom: 20px;
}
.bg-white {
  background-color: white;
}
.bg-blue {
  background-color: #4c5364;
}
.bg-red {
  background-color: #c26868;
}
.badge-cool {
  background-color: #2B8FCA ;
  color:#F1FAEE;
}
.cool2 {
  color: #F5E0B7;
}
.bg-hehe {
  background-color: #c26868;
}
.st {
	color: #25252A;
}
.mar {
  margin: 0 200px ;
}
/* Cursor */
.typed-cursor {
	opacity: 1;
	animation: typedjsBlink 0.7s infinite;
	-webkit-animation: typedjsBlink 0.7s infinite;
	animation: typedjsBlink 0.7s infinite
}

@keyframes typedjsBlink {
	50% {
		opacity: 0.0
	}
}

@-webkit-keyframes typedjsBlink {
	0% {
		opacity: 1
	}
	50% {
		opacity: 0.0
	}
	100% {
		opacity: 1
	}
}


/* RB Logo */
.rlb {
    color: white;
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.rlb:hover {
    color: #000000;
    text-decoration: none;
}


#particles-js {
  margin-bottom: -55%;
  position: static;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
 }
