/*/////// MEDIA ////////*/

img, video, audio, iframe, table, form {
  width: 100%; /* IE */
  max-width: 100%; /* FF, Safari, Chrome */
}

/*/////// Layput styles ////////*/

.row { 
  margin-bottom: 20px;
}

.bg-blue {
  background-color: #003049;
}
.bg-red {
  background-color: #FE5F55;
}
.badge-cool {
  background-color: #2B8FCA ;
  color:#F1FAEE;
}
.cool2 {
  color: #F5E0B7;
}
.bg-hehe {
  background-color: #494949;
}
.st {
	color: #25252A;
}
